//colors
$color_fuscous_gray_approx: #555;
$white: #fff;
$color_boston_blue_approx: #3890c0;
$color_pompadour_approx: #650360;
$color_mountain_meadow_approx: #1abc9c;
$color_trout_approx: #474e5d;
$color_gray_nurse_approx: #e7e8ea;
$color_bahama_blue_approx: #0e6997;
$color_alto_approx: #ddd;
$color_wild_sand_approx: #f5f5f5;
$color_surf_approx: #bcd8c4;
$color_suva_gray_approx: #888;
$color_willow_brook_approx: #deebe1;
$color_panache_approx: #eef5ee;
$color_mountain_mist_approx: #999;
$color_storm_dust_approx: #666;


